<div class="view full-page-intro" th:fragment="add_work(type)" xmlns:th="http://www.thymeleaf.org">
    <div class="sign_up_form add_company_form">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-6 col-xl-5 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <form name="form" method="post" onsubmit="return validate()" th:object="${work}">

                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                <input type="hidden" name="id" th:value="*{id}" th:if="${type} == 'Изменить работу'">

                                <p class="h4 text-center mb-4" th:text="${type}">

                                <div class="alert alert-danger" th:if="${danger_msg}" th:text="${danger_msg}"></div>

                                <div class="md-form mb-2">
                                    <label for="work_name">Название</label>
                                    <input name="name" type="text" id="work_name"
                                           class="form-control" th:field="*{name}">
                                    <span class="text-danger" id="name_error"></span>
                                </div>


                                <div class="md-form mb-2">
                                    <label for="worker">Исполнитель</label>
                                    <select name="worker" class="form-control" id="worker" th:field="*{worker}">
                                        <option th:each="worker : ${workers}" th:value="${worker.getId()}"
                                                th:text="${worker.getUser().getFullName()}"></option>
                                    </select>
                                </div>

                                <div class="md-form mb-2">
                                    <label for="price">Цена</label>
                                    <input min="0" value="0" name="name" type="number" id="price"
                                           class="form-control" th:field="*{price}">
                                    <span class="text-danger" id="price_error"></span>
                                </div>

                                <div class="md-form mb-2">
                                    <label for="address">Адрес</label>
                                    <input name="name" type="text" id="address"
                                           class="form-control" th:field="*{address}">
                                    <span class="text-danger" id="address_error"></span>
                                </div>


                                <div class="md-form mb-2">
                                    <label for="description">Описание</label>
                                    <textarea rows="10" name="description" type="text"
                                              id="description" class="form-control" th:field="*{description}"></textarea>
                                    <span class="text-danger" id="description_error"></span>
                                </div>

                                <div class="text-center mt-4">
                                    <input class="btn btn-primary" type="submit" th:value="${type} != 'Изменить работу'?'Создать':'Изменить'">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/addWork.js"></script>
</div>

