<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/head.html:: head('Главная')"></div>
<body>
<div th:insert="/fragments/nav-bar.html :: nav-bar"></div>

<div class="container-fluid login-container password_recover">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 login-form-1">

            <form method="post" onsubmit="return validate()" name="form">
                <h3>Восстановление</h3>

                <div class="form-group form-login">
                    <input id="username" name="username" type="text" class="form-control" placeholder="Логин" value=""/>
                    <span class="text-danger" id="username_error"></span>
                </div>

                <div class="form-group form-question" hidden>
                    <span class="question" style="margin-bottom: 5%">Секретный вопрос</span>
                    <input id="answer" name="answer" type="text" class="form-control d-flex justify-content-center answer_on_question" placeholder="Ответ" value=""/>
                    <input id="username_ans" hidden>
                    <span class="text-danger" id="answer_error"></span>
                </div>

                <div class="form-group form-new-password" hidden>
                    <input id="password" name="password" type="password" class="form-control password-field" placeholder="Пароль" value=""/>
                    <input id="password-repeat" name="password-repeat" type="password" class="form-control" placeholder="Подтвердите пароль" value=""/>
                    <input id="old-hashed-password" name="old-hashed-password" type="password" hidden>
                    <input id="username_recover" name="username" type="hidden" >
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <span class="text-danger" id="password_error"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Отправить"/>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/js/recoverPassword.js"></script>
</body>
</html>